.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.skills-container {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

/* CARD */
.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* IMAGE BOX */
.skill-image {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 12px;
    overflow: hidden;
}

.skill-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ===================== */
/* RESPONSIVE */
/* ===================== */

@media (max-width: 768px) {

    .skills-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .skill-card {
        width: 140px;
    }

    .skill-image {
        width: 90px;
        height: 90px;
    }
}